/* CSS design by @jofpin */
@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);

.title-pen { /* titulo */
  color: #333;
  font-family: "Coda", sans-serif;
  text-align: center;
}

.user-profile { /* foto y nombre del usuario*/
  margin: auto;
	width: 300px; 
  background: #fff;
}

.user-profile  .name { /* nombre y apellido */
  margin: auto;
  margin-top: -4.40em;
  margin-left: 5.80em;
  color: #658585;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}
.user-profile  .username { /* nombre de usuario*/
  margin: auto;
  padding-bottom: 5px;
  display: inline-block;
  margin-left: 10.43em;
  color: #e76043; 
  font-size: .87em;
}

.user-profile  .input { 
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  font-size: .87em;
}

.user-profile > img.avatar { /* estilo para la imagen del usuario */
	padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}

.user-profile .input textarea{
  margin-bottom: 10px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-bottom: 10px;
}

.user-profile .input input{
  margin-bottom: 10px;
}