<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>Inicio</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/css/layout.css" type="text/css">
    <link rel="stylesheet" href="../style/css/profile.css" type="text/css">
    <link rel="stylesheet" href="../style/css/tables.css" type="text/css">
    <link rel="stylesheet" href="../style/css/pagination.css" type="text/css">
    <!-- iconos -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
  </head>

  <body>
    <!-- seccion 1 -->
    <div class="section row1">
      <header id="header">
        <div id="hgroup">
          <h1><a href="principal.html">The Wall</a></h1> <!-- titulo -->
          <h2>Nueva red social - Conecta con tus amigos!</h2> <!-- subtitulo -->
        </div>        
        <nav> <!-- menu con los links -->
          <ul>
            <li><a href="principal.html">Inicio</a></li>
            <li>
              <div class="dropdown">
                <a>Perfil</a>
                <div class="dropdown-content">
                <a href="perfil.html">Mi Perfil</a>
                <a href="editar-perfil.html">Editar Perfil</a>
                <a href="index.htm">Cerrar Sesión</a>
                </div>
              </div>
            </li>
            <li>
              <form action="#" method="post"> <!-- buscar -->
                <fieldset>
                  <input type="text" value="">
                  <input type="submit" id="b_submit" value="Buscar">
                </fieldset>
              </form>
            </li>
          </ul>
        </nav>
      </header>
    </div> <!-- fin seccion 1 -->

    <!-- seccion 2 -->
    <div class="section row2">
      <div id="container">


        <!-- ACA VA EL CONTENIDO DE LA PAGINA CON LOS FORMS -->

        
      </div>
      <br>
    </div> <!-- fin seccion 2 -->

    <!-- seccion 3 - footer -->
    <div class="section row3">
      <footer id="footer">
        <p class="fo_left">Hecho por: Iglesias Matias - Lanciotti Julieta</p>
        <p class="fo_right">Seminario PHP 2019 </p>
      </footer>
    </div>




  </body>
</html>
