<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>Inicio</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/css/layout.css" type="text/css">
    <link rel="stylesheet" href="../style/css/profile.css" type="text/css">
    <link rel="stylesheet" href="../style/css/tables.css" type="text/css">
    <link rel="stylesheet" href="../style/css/pagination.css" type="text/css">
    <!-- iconos -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  </head>

  <body>
    <!-- seccion 1 -->
    <div class="section row1">
      <header id="header">
        <div id="hgroup">
          <img src="../style/images/logo.png" />
          <h1><a href="principal.html">The Wall</a></h1> <!-- titulo -->
          <h2>Nueva red social - Conecta con tus amigos!</h2> <!-- subtitulo -->
        </div>
        <nav> <!-- menu con los links -->
          <ul>
            <li><a href="principal.html">Inicio</a></li>
            <li>
              <div class="dropdown">
                <a>Perfil</a>
                <div class="dropdown-content">
                <a href="perfil.html">Mi Perfil</a>
                <a href="editar-perfil.html">Editar Perfil</a>
                <a href="index.html">Cerrar Sesión</a>
                </div>
              </div>
            </li>
            <li>
              <form action="#" method="post"> <!-- buscar -->
                <fieldset>
                  <input type="text" value="">
                  <input type="submit" id="b_submit" value="Buscar">
                </fieldset>
              </form>
            </li>
          </ul>
        </nav>
      </header>
    </div> <!-- fin seccion 1 -->

    <!-- seccion 2 -->
    <div class="section row2">
      <div id="container" align="center">

        <br>
          <form id="regform" style="border: 0px;" action="" onsubmit="return(validarForm())">
            <h1 class="title-pen">Modificar perfil</h1></h2>

            <div class="formfield">
              <label for="nombre"><b>Nombre</b></label>
              <input type="text" id="nombre" placeholder="Ned" required>
            </div>

            <div class="formfield">
              <label for="apellido"><b>Apellido</b></label>
              <input type="text" id="apellido" placeholder="Flanders" required>
            </div>

            <div class="formfield">
              <label for="email"><b>Correo electrónico</b></label>
              <input type="text" id="email" placeholder="ned.flanders@mail.com" required>
            </div>

            <div class="formfield">
              <label for="password1"><b>Contraseña actual</b></label>
              <input type="password" id="passwordActual" required>
            </div>

            <div class="formfield">
              <label for="password1"><b>Nueva contraseña</b></label>
              <input type="password" id="password1" required>
            </div>

            <div class="formfield">
              <label for="password2"><b>Repita su contraseña nueva</b></label>
              <input type="password" id="password2" required>
            </div>

            <div class="formfield">
              <label for="pic"><b>Imagen de perfil</b></label>
              <input type="file" id="pic" accept="image/*" required>
            </div>

            <button class="button button1" type="submit">Guardar cambios</button>
          </form>
        <br>

      </div>
      <br>
    </div> <!-- fin seccion 2 -->

    <!-- seccion 3 - footer -->
    <div class="section row3">
      <footer id="footer">
        <p class="fo_left">Hecho por: Iglesias Matias - Lanciotti Julieta</p>
        <p class="fo_right">Seminario PHP 2019 </p>
      </footer>
    </div>




  </body>
</html>
