<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>The Wall</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/css/layout.css" type="text/css">
    <link rel="stylesheet" href="../style/css/profile.css" type="text/css">
    <link rel="stylesheet" href="../style/css/tables.css" type="text/css">
    <!-- iconos -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="../style/js/codigoJS.js"></script>
  </head>

  <body>
    <!-- seccion 1 -->
    <div class="section row1">
      <header id="header">
        <div id="hgroup">
          <img src="../style/images/logo.png" />
          <h1><a href="principal.html">The Wall</a></h1> <!-- titulo -->
          <h2>Nueva red social - Conecta con tus amigos!</h2> <!-- subtitulo -->
        </div>
        <nav> <!-- menu con los links -->
          <ul>
            <li>
              <form action="#" method="post"> <!-- buscar -->
                <fieldset>
                  <input type="text" name="username" placeholder="Nombre de usuario" required>
                  <input type="password" name="password" placeholder="Contraseña" required>
                  <input type="submit" id="b_submit" value="Iniciar sesión">
                </fieldset>
              </form>
            </li>
          </ul>
        </nav>
      </header>
    </div> <!-- fin seccion 1 -->

    <!-- seccion 2 -->
    <div class="section row2">
      <div id="container" align="center">
        <br>
          <form id="regform" action="" onsubmit="return(validarForm())">
            <h2>¿Aún no tienes una cuenta? ¡Regístrate!</h2>

            <div class="formfield">
              <label for="nombre"><b>Nombre</b></label>
              <input type="text" id="nombre" required>
            </div>

            <div class="formfield">
              <label for="apellido"><b>Apellido</b></label>
              <input type="text" id="apellido" required>
            </div>

            <div class="formfield">
              <label for="email"><b>Correo electrónico</b></label>
              <input type="text" id="email" required>
            </div>

            <div class="formfield">
              <label for="username"><b>Nombre de usuario</b></label>
              <input type="text" id="username" required>
            </div>

            <div class="formfield">
              <label for="password1"><b>Contraseña</b></label>
              <input type="password" id="password1" required>
            </div>

            <div class="formfield">
              <label for="password2"><b>Repita su contraseña</b></label>
              <input type="password" id="password2" required>
            </div>

            <div class="formfield">
              <label for="pic"><b>Imagen de perfil</b></label>
              <input type="file" id="pic" accept="image/*" required>
            </div>

            <button id="regbutton" type="submit">Registrarme</button>
          </form>
        <br>

      </div>
    </div> <!-- fin seccion 2 -->

    <!-- seccion 3 - footer -->
    <div class="section row3">
      <footer id="footer">
        <p class="fo_left">Hecho por: Iglesias Matias - Lanciotti Julieta</p>
        <p class="fo_right">Seminario PHP 2019 </p>
      </footer>
    </div>

  </body>
</html>
