/* ESTILOS DE LA PAGINA PRINCIPAL */

html{ /* para que aparezca el scroll*/
	overflow-y:scroll;
} 

body{ /* estilo principal del body */
	margin:0; 
	padding:0; 
	font-size:13px; 
	font-family:Georgia, "Times New Roman", Times, serif; /* tipo de letra */
	color:#919191;
	background-color:#17252a;
	height: 100%;
}

a{ /* para que no queden subrayados los links */
	outline:none; 
	text-decoration:none;
} 

/* para que el texto del footer quede acomodado a izquierda y derecha*/
.fo_left{
	float:left;
}
.fo_right{
	float:right;
}

/* ----------------------------------------------SECCIONES-------------------------------------*/

div.section{ /* secciones de la pagina */
	display:block;
	width:100%;
	margin:0; 
	padding:0; 
	text-align:left;
}

.row1, .row1 a{ /* seccion 1 para el menu - color de links */
	color:white; /* color de las letras del menu */
	background-color:#333333; /* color del fondo del menu */
}
.row2{ /* seccion 2 para el contenido */
	color:#979797; 
	background-color:#FFFFFF;
}
.row2 a{ /* seccion 2 - color de los links */
	color:#FF9900; 
	background-color:#FFFFFF;
}
.row3, .row3 a{ /* seccion 3 para el footer */
	color:white; /* color de las letras del footer */
	background-color:#2b7a78; /* color del fondo del footer */
}

/*----------------------------------------------GENERAL-------------------------------------*/

#header, #container, #footer{
	display:block; 
	width:90%; 
	margin:0 auto;
}

nav ul{
	margin:0; 
	padding:0; 
	list-style:none;
}

/* estilo de los titulos */
h1, h2, h3, h4, h5, h6{
	margin:0; 
	padding:0; 
	font-size:16px; /* tamanio de la letra */
	font-weight:bold; /* en negrita */
	font-style:normal; 
	line-height:normal; 
	text-transform:uppercase; /* lo convierte en mayuscula*/
}

address{
	font-style:normal;
}

/* legend: es el buscar - para que no aparezca recuadro ni texto en el */
form, fieldset, legend{
	margin:0; 
	padding:0; 
	border:none;
}
legend{
	display:none;
}

input, textarea, select{ /* tipo de letra y tamaño de los input */
	font-size:12px; 
	font-family:Georgia,"Times New Roman",Times,serif;
}


/*----------------------------------------------Header-------------------------------------*/

#header{ /* para que el texto no quede pegado contra arriba de todo*/
	padding:20px 0;
}

#header #hgroup{
	float:left; 
	margin:0 0 20px 0;
}

#header #hgroup h1, 
#header #hgroup h2{
	font-weight:normal; 
	text-transform:none;
}

#header #hgroup h1{
	font-size:36px;
}

#header #hgroup h2{
	font-size:13px;
}

#header form{
	display:block; 
	width:290px; 
	float:right; 
	margin:-5px 0; 
	padding:0;
}

#header form input{ /* input para hacer un submit */
	display:block; 
	float:left; /* para que se mantenga a la izquierda */
	width:200px; /* ancho */
	margin:0; 
	padding:5px; /* altura*/
	color:#C0BAB6; /* color de letra */
	background-color:#232323; /* color de fondo */
	border:1px solid #666666; /* bordecito */
}

#header form #b_submit{ /* boton de submit */
	display:block; 
	float:right; 
	width:70px; 
	font-size:12px;  
	text-transform:uppercase; 
	color:#FFFFFF; 
	background-color:#2b7a78; 
	border:none; 
	cursor:pointer;
}

/* --------- nav - menu ----------------*/
#header nav{
	display:block; 
	width:100%; 
	margin:0; 
	padding:20px 0; 
	color:#C0BAB6; 
	background-color:#232323; 
	clear:both;
}
#header nav ul{
	padding:0 20px;
}
#header nav li{
	display:inline; 
	margin-right:25px; 
	text-transform:uppercase;
}
#header nav li a{
	color:#C0BAB6; /* color de los elementos del menu*/
	background-color:#232323; /* color fondo menu */ 
}
#header nav li a:hover{
	color:#2b7a78; /* color de cuando se le pasa por arriba el mouse al link del menu*/
	background-color:#232323;
}

/*----------------------------------------------Contenido-------------------------------------*/

#container{
	padding:30px 0;
}

#container section{
	display:block; 
	width:100%; 
	margin:0 0 30px 0; 
	padding:0;
}

/*----------------------------------------------Footer-------------------------------------*/

#footer{
	padding:20px 0;
}
#footer p{
	margin:0; 
	padding:0;
}